<a href="https://colab.research.google.com/github/pea-sys/Til/blob/master/jquants-api-quick-start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# J-Quants API Quick Startガイド

In [1]:
#@title 初期設定＆各種import
#@markdown ←にある▶ボタンを押すとGoogle Colabでコードを実行することができます。

#@markdown まずはこちらのコードを実行し、J-Quants APIを利用するため必要なパッケージをimportしましょう。

import json
import sys
import requests

from IPython.display import display
import pandas as pd

pd.set_option("display.max_columns", None)

API_URL = "https://api.jquants.com"

## Step1：API利用開始までの流れ　※初回のみ実施

J-Quants APIのご利用を検討いただき、ありがとうございます。

**J-Quants APIをご利用いただくには、以下の2つを事前に行っていただく必要がございます。**
 1. [J-Quants Webサイト](https://jpx-jquants.com/)への登録
 2. J-Quants API利用のためのプラン（Free, Light, Standard, Premium）選択

まだ、ご登録もしくはプラン選択がお済みでない方は、まず上記の2項目を行っていただきますようお願いいたします。  
より具体的な手順は[こちら](https://jpx.gitbook.io/j-quants-ja/outline/getstarted)をご参照ください。

##Step2及びStep3：リフレッシュトークン取得 & idToken取得
リフレッシュトークンを取得するには2つの方法があります。
1. J-Quants Webサイトへログインし、リフレッシュトークンを取得するボタンからリフレッシュトークンを取得する方法
2. リフレッシュトークン取得APIを利用し、リフレッシュトークンを取得する方法

以下に記載のどちらかお好みの方法でリフレッシュトークン及びidTokenを取得してください。

In [2]:
#@title **1.J-Quants Webサイトから取得したリフレッシュトークンを貼り付ける場合**
#@markdown J-Quants Webサイトにて取得したリフレッシュトークンを以下の「ここにtextを挿入」の箇所に貼り付けてください。

refreshtoken = "eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.Q9i_HKJEp2vdnO1shO6MTLs3UbEg8V9X31pJUfSTGGptE0CG-AHsky_XwfjI_CFRqwLxujODW2hqVsk0ctL0VX6cJ1MKT7vYBTuQwnuV2_1rHinsYuS4-8eFdAedzw9XaQ59VYPHY-6wI06J-jIoBIA4vgxqXb0wMAqTRe7uMZGlgYTDe5kdkwtpE1Fg0_xjsEtVTGHvPZ3WoX8Omcf_FGk6kSkF550LzqCdDS9F3Opm0wx37lKBx8gEitGxnmkk8x6Cp1RtmMyfU54jBNnAqp0F7UQeWu3fdaN10TsTCxsNTglYo79yyAkmVb9ILWWJrjxqrW7atbSsTk1nBCe1ZQ.MtmBDH09vdXV40XC.hvLDqlp4kQ_zxCLY90xNZmo0juX8akieH91pOHPEoXdx8pt7ZT4enRZEcwaMmqZAjw20nEI_qquVAN1i5GoIKL38w1s1hdwpr_pt_u9Hkrp_mKeWvb0gxU3nRJFubyConM4HTdnvWeR-yiWL2qKcsUVFzp4IBRIZUIeNvwtATcr24gXdf0-ysEjgmTRW9w5USlNH84Q2gluSXAPpsRmynK_j-DjrxTYwxOyw5hxhnal7t7ZKhKtX869cxaYxXjz49UiyXZX4nPWp-gdPhBFkqNgnnCHtUIUZCpFAOW9sJTszM0uso4sAcSuT5k0y6yafOc0cJ22NKxuZ7QsVvDVp4Eg7blC3pgsqzHgIIIx2UKgCiY0_ACaImGj6WkO87T6LMdU0ogOv5333XCMULp7w9pMhj4C8q-wOQnUDJTfYrLkCryeRPUn35dtWYkf8MNV-u02nVH5FQhgejpOuI8J-8oXPE7pmZ2VRk-zibmTejatT-a-ZcRUfcxgCWZZzpNtVSIXgwunXbbXLtZD3xL42Pl88wPrSA3TxW1KkZd8dBTdflYolPTaD9cSY0fnBfYozx0LOsLiE2-VK0tXN01WDUhGgK1HcrlHxGYvo8ZTGks1ZJcsCAizs4G49zB5B6Q9WhjUZ0piBpEkbdwZTvRoMFYlYaVcoueu3cHzgNYQq07YGCc3exLoSI_zpa7EHBNCDY2ckfVtN849XYMMT_rWlwMrqDrv4WIEKgsr5pOo5LfMs404yCxa1teaSx8lp9px8G6H3d92jvgbeW8RkpCx7R5jUdOAULTx6qUaeyJBnao9fykqxUU0fMqaWmX7lWI5NwtJjCVC-ma0zemOM2NFYeKoeae1ar8XNQPOAG5SKmhxGtk2rIjMxs6JvmyvNwOYZp1VxJcygkw_zerVfHb7hcmYMD-Egm8xu570sMyxN6wFlKfKuW3LM0wu-FkFFVrh8jHU1-UyZKiAn7_6-SpzFJaVZA4yclePi_ZxXoLf15BrNmuUrGHzPJiM1UPZJUa8L3DsuXMHkkful1MJv_J-k3mOXpFLxHWcCNndxEF89yCbhJ61KC0_6-swdp5hy9Dfe90O5VsZZq2_AHwWb_SM3ROldJmwto5Ys2Duw6fX78ivb2_y3AwPuw7znvE3ID8Ejo1Ghi4tELrjhC_-ddyKhYlAJ7owKdrMcP9KnYG_WhAFa-GZOktyOm8e0mT2Ii4D3pTrgiEO2Elx95h98uQb4O6BcDZBE5ZPaWn3Xy333jwvV7qPQQPcjM9R2Lx2dCNixkrzgdvcSPeD8_nqAKCXqZ3U0wZQKHvkE34ohlFbd3UNVVKmeCZJ_ep_hX29W6lPn17pqcSUQMoMXnA.cKIF46jtyOB7hrer6dDHjg"#@param {type: "string"}

# idToken取得
res = requests.post(f"{API_URL}/v1/token/auth_refresh?refreshtoken={refreshtoken}")
if res.status_code == 200:
    id_token = res.json()['idToken']
    headers = {'Authorization': 'Bearer {}'.format(id_token)}
    display("idTokenの取得に成功しました。")
else:
    display(res.json()["message"])


#@markdown 上記コードを実行し、**「idTokenの取得に成功しました。」**と表示されれば、J-Quants APIを利用するための準備は完了です。

#@markdown なお、 「Your refresh token may be incorrect or expired.」等のエラーが出力されている場合は、上記で貼り付けたリフレッシュトークンが誤っているか、期限が切れている可能性がございます。

#@markdown その場合はお手数ですが、再度リフレッシュトークンをJ-Quants Webサイトから取得いただき、再度実行してください。

'idTokenの取得に成功しました。'

###**2. J-Quants Webサイトに登録したID及びPWを使用し、RefreshToken及びidTokenをAPIを利用して取得する場合**

In [3]:
#@title Google Driveのマウント

#@markdown 登録いただいたIDやPWを直接本Notebookに記載するのはセキュリティ上適切ではない可能性があるため、<br>
#@markdown Google Driveに設定ファイルを作成し、当該設定ファイルにIDやPWを記載することをおすすめします。

#@markdown 本コードを実行し、まずはGoogle Driveをマウントします。


from google.colab import drive

try:
    drive.mount('/content/drive')
except:
    print("Google Driveのマウントに失敗しました。")
else:
    print("Google Driveのマウントに成功しました。")

Mounted at /content/drive
Google Driveのマウントに成功しました。

#### 設定ファイルの作成（初回のみ）
- 以下の画像のように 「drive→MyDrive→drive_ws→secret→jquants-api.toml」といった階層で設定ファイルを作成します。

![image.png]()

- 作成したtomlファイルに以下のサンプルのとおりID及びパスワードを記載します。  
(なお、\*の箇所はご登録いただいたID及びPWに置き換えてください。)

```
[jquants-api-client]
mailaddress = "*****@***.***"
password = "**************"
```

In [6]:
#@title 作成した設定ファイルを読み込み、リフレッシュトークン及びidTokenを取得
#@markdown 正しく設定ファイルが作成されていれば、本コードを実行することで、idTokenを取得することができます。
#@markdown 「APIを使用する準備が完了しました。」と出力されれば、されれば、J-Quants APIをコールすることができるようになります！

if sys.version_info >= (3, 11):
    import tomllib
else:
    import tomli as tomllib

config_path = ("/content/drive/MyDrive/drive_ws/secret/jquants-api.toml")

with open(config_path, mode="rb") as f:
    ret = tomllib.load(f)["jquants-api-client"]

USER_DATA = {k: v for k, v in ret.items()}

# refresh token取得
try:
  res = requests.post(f"{API_URL}/v1/token/auth_user", data=json.dumps(USER_DATA))
  refresh_token = res.json()['refreshToken']
except:
  print("RefreshTokenの取得に失敗しました。")
else:
  # id token取得
  try:
    res = requests.post(f"{API_URL}/v1/token/auth_refresh?refreshtoken={refresh_token}")
    id_token = res.json()['idToken']
  except:
    print("idTokenの取得に失敗しました。")
  else:
    headers = {'Authorization': 'Bearer {}'.format(id_token)}
    print("API使用の準備が完了しました。")

API使用の準備が完了しました。

## Step4：取得したIDトークンを用いて各APIをご利用ください。

### Freeプラン以上のプランで利用できるAPI
- 上場銘柄一覧（/listed/info）
- 株価四本値*（/prices/daily_quotes）
- 財務情報/fins/statements)
- 決算発表予定日（/fins/announcement）

\* プレミアムプランのユーザのみ、前後場の四本値及び取引高・取引代金の情報が取得可能

In [12]:
#@title 上場銘柄一覧（/listed/info）

#@markdown - 過去時点での銘柄情報、当日の銘柄情報および翌営業日時点の銘柄情報が取得可能です。
#@markdown - データの取得では、銘柄コード（code）または日付（date）の指定が可能です。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の24:00頃


code = "3433"#@param {type:"string"}
date = "2023-04-14"#@param {type:"string"}
query = ""
if code != "":
  query += f'code={code}'
if date != "":
  if code !="":
    query += "&"
  query += f'date={date}'
if query != "":
  query = "?"+query
res = requests.get(f"{API_URL}/v1/listed/info{query}", headers=headers)
if res.status_code == 200:
  data = res.json()["info"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,Date,Code,CompanyName,CompanyNameEnglish,Sector17Code,Sector17CodeName,Sector33Code,Sector33CodeName,ScaleCategory,MarketCode,MarketCodeName
0,2023-04-14,34330,トーカロ,"TOCALO Co.,Ltd.",3,建設・資材,3550,金属製品,TOPIX Small 1,0111,プライム

In [15]:
#@title 株価四本値（/prices/daily_quotes）

#@markdown - 株価は分割・併合を考慮した調整済み株価（小数点第２位四捨五入）と調整前の株価を取得することができます。
#@markdown - データの取得では、銘柄コード（code）または日付（date）の指定が必須となります。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の17:00頃

#@markdown - Premiumプランの方には、日通しに加え、前場(Morning)及び後場(Afternoon)の四本値及び取引高（調整前・後両方）・取引代金が取得可能です。


code = "3433"#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "2023-03-14" #@param {type:"string"}
to = "2023-03-30" #@param {type:"string"}
query = ""
if code != "":
  query += f'code={code}'
if date != "":
  if code !="":
    query += "&"
  query += f'date={date}'
if from_ != "":
  if query !="":
    query += "&"
  query += f'from={from_}'
if to != "":
  if query !="":
    query += "&"
  query += f'to={to}'
if query != "":
  query = "?"+query
res = requests.get(f"{API_URL}/v1/prices/daily_quotes{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["daily_quotes"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,Date,Code,Open,High,Low,Close,UpperLimit,LowerLimit,Volume,TurnoverValue,AdjustmentFactor,AdjustmentOpen,AdjustmentHigh,AdjustmentLow,AdjustmentClose,AdjustmentVolume
0,2023-03-14,34330,1265.0,1265.0,1237.0,1242.0,0,0,162000.0,201839300.0,1.0,1265.0,1265.0,1237.0,1242.0,162000.0
1,2023-03-15,34330,1260.0,1269.0,1256.0,1264.0,0,0,117000.0,147634500.0,1.0,1260.0,1269.0,1256.0,1264.0,117000.0
2,2023-03-16,34330,1235.0,1247.0,1230.0,1240.0,0,0,107300.0,132786600.0,1.0,1235.0,1247.0,1230.0,1240.0,107300.0
3,2023-03-17,34330,1254.0,1254.0,1238.0,1247.0,0,0,110700.0,137802100.0,1.0,1254.0,1254.0,1238.0,1247.0,110700.0
4,2023-03-20,34330,1234.0,1241.0,1226.0,1228.0,0,0,117100.0,144142900.0,1.0,1234.0,1241.0,1226.0,1228.0,117100.0
5,2023-03-22,34330,1257.0,1266.0,1256.0,1260.0,0,0,107300.0,135314600.0,1.0,1257.0,1266.0,1256.0,1260.0,107300.0
6,2023-03-23,34330,1250.0,1261.0,1242.0,1259.0,0,0,70500.0,88485600.0,1.0,1250.0,1261.0,1242.0,1259.0,70500.0
7,2023-03-24,34330,1254.0,1274.0,1251.0,1271.0,0,0,86200.0,109122100.0,1.0,1254.0,1274.0,1251.0,1271.0,86200.0
8,2023-03-27,34330,1286.0,1288.0,1276.0,1284.0,0,0,110200.0,141421400.0,1.0,1286.0,1288.0,1276.0,1284.0,110200.0
9,2023-03-28,34330,1291.0,1291.0,1267.0,1267.0,0,0,106900.0,136099600.0,1.0,1291.0,1291.0,1267.0,1267.0,106900.0
10,2023-03-29,34330,1272.0,1296.0,1270.0,1295.0,0,0,157300.0,202513000.0,1.0,1272.0,1296.0,1270.0,1295.0,157300.0
11,2023-03-30,34330,1286.0,1289.0,1272.0,1282.0,0,0,94300.0,120694700.0,1.0,1286.0,1289.0,1272.0,1282.0,94300.0

In [23]:
#@title 財務情報（/fins/statements）

#@markdown - 財務情報APIでは、上場企業がTDnetへ提出する決算短信Summary等を基に作成された、四半期毎の財務情報を取得することができます。
#@markdown - データの取得では、銘柄コード（code）または日付（date）の指定が必須となります。

#@markdown （データ更新時刻）
#@markdown - 速報18:00頃、確報24:30頃


code = ""#@param {type:"string"}
date = "2023-03-08"#@param {type:"string"}
query = ""
if code != "":
  query += f'code={code}'
if date != "":
  if code !="":
    query += "&"
  query += f'date={date}'
if query != "":
  query = "?"+query
res = requests.get(f"{API_URL}/v1/fins/statements{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["statements"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

,DisclosedDate,DisclosedTime,LocalCode,DisclosureNumber,TypeOfDocument,TypeOfCurrentPeriod,CurrentPeriodStartDate,CurrentPeriodEndDate,CurrentFiscalYearStartDate,CurrentFiscalYearEndDate,NextFiscalYearStartDate,NextFiscalYearEndDate,NetSales,OperatingProfit,OrdinaryProfit,Profit,EarningsPerShare,DilutedEarningsPerShare,TotalAssets,Equity,EquityToAssetRatio,BookValuePerShare,CashFlowsFromOperatingActivities,CashFlowsFromInvestingActivities,CashFlowsFromFinancingActivities,CashAndEquivalents,ResultDividendPerShare1stQuarter,ResultDividendPerShare2ndQuarter,ResultDividendPerShare3rdQuarter,ResultDividendPerShareFiscalYearEnd,ResultDividendPerShareAnnual,DistributionsPerUnit(REIT),ResultTotalDividendPaidAnnual,ResultPayoutRatioAnnual,ForecastDividendPerShare1stQuarter,ForecastDividendPerShare2ndQuarter,ForecastDividendPerShare3rdQuarter,ForecastDividendPerShareFiscalYearEnd,ForecastDividendPerShareAnnual,ForecastDistributionsPerUnit(REIT),ForecastTotalDividendPaidAnnual,ForecastPayoutRatioAnnual,NextYearForecastDividendPerShare1stQuarter,NextYearForecastDividendPerShare2ndQuarter,NextYearForecastDividendPerShare3rdQuarter,NextYearForecastDividendPerShareFiscalYearEnd,NextYearForecastDividendPerShareAnnual,NextYearForecastDistributionsPerUnit(REIT),NextYearForecastPayoutRatioAnnual,ForecastNetSales2ndQuarter,ForecastOperatingProfit2ndQuarter,ForecastOrdinaryProfit2ndQuarter,ForecastProfit2ndQuarter,ForecastEarningsPerShare2ndQuarter,NextYearForecastNetSales2ndQuarter,NextYearForecastOperatingProfit2ndQuarter,NextYearForecastOrdinaryProfit2ndQuarter,NextYearForecastProfit2ndQuarter,NextYearForecastEarningsPerShare2ndQuarter,ForecastNetSales,ForecastOperatingProfit,ForecastOrdinaryProfit,ForecastProfit,ForecastEarningsPerShare,NextYearForecastNetSales,NextYearForecastOperatingProfit,NextYearForecastOrdinaryProfit,NextYearForecastProfit,NextYearForecastEarningsPerShare,MaterialChangesInSubsidiaries,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares,NonConsolidatedNetSales,NonConsolidatedOperatingProfit,NonConsolidatedOrdinaryProfit,NonConsolidatedProfit,NonConsolidatedEarningsPerShare,NonConsolidatedTotalAssets,NonConsolidatedEquity,NonConsolidatedEquityToAssetRatio,NonConsolidatedBookValuePerShare,ForecastNonConsolidatedNetSales2ndQuarter,ForecastNonConsolidatedOperatingProfit2ndQuarter,ForecastNonConsolidatedOrdinaryProfit2ndQuarter,ForecastNonConsolidatedProfit2ndQuarter,ForecastNonConsolidatedEarningsPerShare2ndQuarter,NextYearForecastNonConsolidatedNetSales2ndQuarter,NextYearForecastNonConsolidatedOperatingProfit2ndQuarter,NextYearForecastNonConsolidatedOrdinaryProfit2ndQuarter,NextYearForecastNonConsolidatedProfit2ndQuarter,NextYearForecastNonConsolidatedEarningsPerShare2ndQuarter,ForecastNonConsolidatedNetSales,ForecastNonConsolidatedOperatingProfit,ForecastNonConsolidatedOrdinaryProfit,ForecastNonConsolidatedProfit,ForecastNonConsolidatedEarningsPerShare,NextYearForecastNonConsolidatedNetSales,NextYearForecastNonConsolidatedOperatingProfit,NextYearForecastNonConsolidatedOrdinaryProfit,NextYearForecastNonConsolidatedProfit,NextYearForecastNonConsolidatedEarningsPerShare
0,2023-03-08,15:00:00,70640,20230210506739,FYFinancialStatements_NonConsolidated_JP,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,2023-02-01,2024-01-31,1543000000,396000000,395000000,283000000,212.01,209.94,1107000000,740000000,0.667,547.21,468000000,-69000000,-76000000,632000000,,0.0,,0.0,0.0,,,,,,,,,,,,,0.0,,0.0,0.0,,,,,,,,,,,,,,,,,,2100000000,450000000,445000000,286000000,211.53,,true,false,false,false,1356400,5559,1335042,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2023-03-08,15:00:00,88420,20230302523163,EarnForecastRevision,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,6685000000,864000000,982000000,1407000000,235.32,,,,,
2,2023-03-08,15:00:00,31800,20230302523403,3QFinancialStatements_Consolidated_JP,3Q,2022-05-01,2023-01-31,2022-05-01,2023-04-30,,,19133000000,834000000,837000000,540000000,85.56,,10733000000,5937000000,0.533,,,,,,,0.0,,,,,,,,,,18.0,18.0,,,,,,,,,,,,,,,,,,,,,27013000000,1407000000,1410000000,850000000,134.71,,,,,,false,false,false,false,false,6376000,59968,6313834,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3,2023-03-08,08:30:00,81650,20230303524586,FYFinancialStatements_Consolidated_JP,FY,2022-01-01,2022-12-31,2022-01-01,2022-12-31,2023-01-01,2023-12-31,58915000000,-8139000000,-7889000000,-10976000000,-234.24,,38923000000,22019000000,0.565,469.79,-5869000000,-706000000,148000000,9287000000,,0.0,,0.0,0.0,,,,,,,,,,,,,0.0,,,,,,,,,,,,,,,,,,,,,66200000000,500000000,400000000,150000000,3.2,true,true,false,false,false,52056993,5229999,46860574,55123000000,-8290000000,-7654000000,-10913000000,-232.89,37429000000,21107000000,0.564,450.75,,,,,,,,,,,,,,,,,,,,
4,2023-03-08,15:00:00,78040,20230306525448,1QFinancialStatements_NonConsolidated_JP,1Q,2022-11-01,2023-01-31,2022-11-01,2023-10-31,,,609000000,34000000,35000000,23000000,10.38,10.37,3277000000,2862000000,0.873,,,,,,,,,,,,,,,0.0,,38.0,38.0,,,,,,,,,,,,,,,,,,,,,3200000000,409000000,409000000,262000000,114.2,,,,,,,false,false,false,false,2300000,5239,2294761,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,2023-03-08,13:30:00,18840,20230306525867,DividendForecastRevision,FY,2022-04-01,2023-03-31,2022-04-01,2023-03-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,280.0,280.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,2023-03-08,15:00:00,97160,20230307526094,EarnForecastRevision,FY,2022-03-01,2023-02-28,2022-03-01,2023-02-28,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,112000000000,3200000000,3320000000,2170000000,19.49,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,2023-03-08,17:00:00,34070,20230307526102,EarnForecastRevision,FY,2022-04-01,2023-03-31,2022-04-01,2023-03-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2737000000000,125000000000,118000000000,-105000000000,-75.69,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,2023-03-08,15:00:00,65650,20230307526110,EarnForecastRevision,FY,2022-04-01,2023-03-31,2022-04-01,2023-03-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,12.0,12.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,8500000000,2700000000,2700000000,1600000000,112.87,,,,,
9,2023-03-08,15:00:00,88420,20230307526125,FYFinancialStatements_Consolidated_JP,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,2023-02-01,2024-01-31,9019000000,985000000,1162000000,1557000000,260.43,,42820000000,32419000000,0.757,5418.66,3025000000,56000000,-2105000000,3230000000,,30.0,,70.0,100.0,,598000000,0.384,,,,,,,,,,30.0,,30.0,60.0,,0.513,,,,,,4500000000,500000000,600000000,400000000,66.87,,,,,,9200000000,900000000,1000000000,700000000,117.02,false,true,false,false,false,6511218,528260,5981858,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10,2023-03-08,08:00:00,66190,20230307526526,FYFinancialStatements_Consolidated_JP,FY,2022-01-01,2022-12-31,2022-01-01,2022-12-31,2023-01-01,2023-12-31,45100000000,7829000000,8294000000,4413000000,80.43,78.52,139526000000,113264000000,0.361,911.67,6597000000,-28328000000,41686000000,32841000000,,0.0,,0.0,0.0,,,,,,,,,,,,,0.0,,0.0,0.0,,,,,,,,24000000000,2500000000,2100000000,700000000,12.69,,,,,,50000000000,5500000000,4600000000,1700000000,30.81,true,true,false,false,false,55180600,302,54878071,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11,2023-03-08,15:00:00,77190,20230307526645,FYFinancialStatements_Consolidated_JP,FY,2021-03-01,2022-02-28,2021-03-01,2022-02-28,2022-03-01,2023-02-28,4039000000,198000000,255000000,121000000,17.05,,4396000000,2137000000,0.486,299.73,217000000,-92000000,98000000,1110000000,,,,0.0,0.0,,,,,,,,,,,,,,,0.0,0.0,,,,,,,,3200000000,80000000,75000000,45000000,6.31,,,,,,7500000000,270000000,260000000,160000000,22.44,true,false,false,false,false,7133791,2936,7130859,325000000,6000000,103000000,136000000,19.2,2018000000,1083000000,0.537,151.96,,,,,,,,,,,,,,,,,,,,
12,2023-03-08,15:00:00,77190,20230307526668,1QFinancialStatements_Consolidated_JP,1Q,2022-03-01,2022-05-31,2022-03-01,2023-02-28,,,697000000,12000000,31000000,19000000,2.69,,4489000000,2156000000,0.48,,,,,,,,,,,,,,,,,0.0,0.0,,,,,,,,,,,1350000000,50000000,40000000,15000000,2.1,,,,,,3100000000,170000000,155000000,100000000,14.02,,,,,,false,true,false,false,false,7133791,2951,7130841,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
13,2023-03-08,15:00:00,77190,20230307526670,2QFinancialStatements_Consolidated_JP,2Q,2022-03-01,2022-08-31,2022-03-01,2023-02-28,,,1431000000,40000000,71000000,45000000,6.39,,3799000000,2182000000,0.575,,208144000,-50446000,-376031000,892100000,,,,,,,,,,,,0.0,0.0,,,,,,,,,,,,,,,,,,,,,3100000000,170000000,155000000,100000000,14.02,,,,,,false,true,false,false,false,7133791,2951,7130840,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
14,2023-03-08,15:00:00,77190,20230307526720,3QFinancialStatements_Consolidated_JP,3Q,2022-03-01,2022-11-30,2022-03-01,2023-02-28,,,2134000000,21000000,66000000,-632000000,-88.69,,4492000000,1504000000,0.335,,,,,,,,,,,,,,,,,0.0,0.0,,,,,,,,,,,,,,,,,,,,,3100000000,170000000,155000000,,,,,,,,false,true,false,false,false,7133791,2902,7130851,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
15,2023-03-08,15:00:00,45990,20230308526796,2QFinancialStatements_NonConsolidated_JP,2Q,2022-08-01,2023-01-31,2022-08-01,2023-07-31,,,,-1042000000,-1039000000,-1016000000,-17.03,,9100000000,8888000000,0.863,,-569323000,,99349000,8410217000,,0.0,,,,,,,,,,0.0,0.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,false,false,false,59995600,121,59702341,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,2023-03-08,16:00:00,68980,20230308526895,EarnForecastRevision,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2004000000,143000000,139000000,95000000,144.74,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1300000000,26000000,57000000,40000000,60.96,,,,,
17,2023-03-08,15:00:00,42380,20230308526915,FYFinancialStatements_Consolidated_JP,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,2023-02-01,2024-01-31,14265000000,2457000000,2532000000,1570000000,174.36,,26574000000,21154000000,0.796,2348.12,2553000000,-3053000000,-476000000,11496000000,,25.0,,30.0,55.0,,495000000,0.315,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,false,true,false,false,false,10120000,1110728,9007290,12738000000,2296000000,2405000000,1502000000,166.86,24873000000,19934000000,0.802,2212.71,,,,,,,,,,,,,,,,,,,,
18,2023-03-08,12:00:00,14330,20230308526984,EarnForecastRevision,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,5458000000,-215000000,-94000000,-83000000,-9.55,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
19,2023-03-08,15:00:00,77190,20230308527014,EarnForecastRevision,FY,2022-03-01,2023-02-28,2022-03-01,2023-02-28,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3100000000,170000000,155000000,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
20,2023-03-08,15:00:00,76830,20230308527105,EarnForecastRevision,FY,2022-02-01,2023-01-31,2022-02-01,2023-01-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,17598000000,1186000000,1084000000,689000000,144.73,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
21,2023-03-08,15:00:00,32370,20230308527181,EarnForecastRevision,FY,2022-04-01,2023-03-31,2022-04-01,2023-03-31,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [24]:
#@title 決算発表予定日（/fins/announcemnet）

#@markdown （データ更新時刻）
#@markdown - 不定期（更新がある日は）19:00頃

#@markdown - [当該ページ](https://www.jpx.co.jp/listing/event-schedules/financial-announcement/index.html)で、3月期・９月期決算会社分に更新があった場合のみ19時ごろに更新されます。


res = requests.get(f"{API_URL}/v1/fins/announcement", headers=headers)

if res.status_code == 200:
  data = res.json()["announcement"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

         Date   Code   CompanyName FiscalYear SectorName FiscalQuarter Section
0  2023-05-23  89860  大和証券リビング投資法人      3月31日       REIT             -    REIT

### Lightプラン以上のプランで利用できるAPI
- 投資部門別情報（/markets/trades_spec）
- TOPIX四本値（/indices/topix）

In [25]:
#@title 投資部門別（株式）データ（/markets/trades_spec）

#@markdown - 投資部門別売買状況（金額）のデータを取得することができます。
#@markdown - 投資部門別売買状況は、個人・外国人・金融機関など、投資家ごとの売買動向をまとめた情報です。
#@markdown - 基本的には[こちら](https://www.jpx.co.jp/markets/statistics-equities/investor-type/index.html)のページで掲載しているものと同等のものになります。
#@markdown - データの取得では、セクション（section）または日付（from/to）の指定が可能です。

#@markdown （データ更新時刻）
#@markdown - 原則、毎週第４営業日18:00頃


section = ""#@param ["TSE1st", "TSE2nd", "TSEMothers", "TSEJASDAQ", "TSEPrime", "TSEStandard", "TSEGrowth", "TokyoNagoya"] {allow-input: true}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}
query = ""
if section != "":
  query += f'section={section}'
if from_ != "":
  if query !="":
    query += "&"
  query += f'from={from_}'
if to != "":
  if query !="":
    query += "&"
  query += f'to={to}'
if query != "":
  query = "?"+query
res = requests.get(f"{API_URL}/v1/markets/trades_spec{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["trades_spec"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

In [26]:
#@title TOPIX四本値（/indices/topix）

#@markdown - 日次のTOPIX指数の四本値について取得することができます。
#@markdown - 日付（from/to）の指定が可能です

#@markdown （データ更新時刻）
#@markdown - 毎営業日の21:00頃


date_from = ""#@param {type:"string"}
date_to = ""#@param {type:"string"}
query = ""
if date_from != "":
  query += f'from={date_from}'
if date_to != "":
  if date_from !="":
    query += "&"
  query += f'to={date_to}'
if query != "":
  query = "?"+query
res = requests.get(f"{API_URL}/v1/indices/topix{query}", headers=headers)
if res.status_code == 200:
  data = res.json()["topix"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

### Standard以上のプランで利用できるAPI
- オプション四本値（/option/index_option）
- 信用取引週末残高（/markets/weekly_margin_interest）
- 業種別空売り比率（/markets/short_selling）

In [27]:
#@title オプション四本値（/option/index_option）

#@markdown - 日次の日経225指数オプションの四本値や売買高、清算値段等について取得することができます。
#@markdown - 日付（date）の指定が必須です

#@markdown （データ更新時刻）
#@markdown - 毎営業日の27:00頃


date = "" #@param {type:"string"}
query = ""
if date != "":
  if query !="":
    query += "&"
  query += f'date={date}'

if query != "":
  query = "?"+query
res = requests.get(f"{API_URL}/v1/option/index_option{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["index_option"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

In [28]:
#@title 信用取引週末残高（/markets/weekly_margin_interest）

#@markdown - 制度・一般信用取引における各銘柄の前週末の残高についてデータを取得することができます。
#@markdown - 本データは[こちら](https://www.jpx.co.jp/markets/statistics-equities/margin/index.html)の個別銘柄信用取引残高表のデータをヒストリカルで提供するものになります。
#@markdown - 銘柄コード（code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toはcodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 原則毎週第２営業日の21:00頃

code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}
l_query = [
    f'code={code}' if code else "",
    f'date={date}' if date else "",
    f'from={from_}' if from_ else "",
    f'to={to}' if to else "",
]
query = '&'.join(filter(None, l_query))
query = "?"+query if query else ""

res = requests.get(f"{API_URL}/v1/markets/weekly_margin_interest{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["weekly_margin_interest"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

In [29]:
#@title 業種別空売り比率（/markets/short_selling）

#@markdown - 日次の３３業種別の空売りの売買代金について取得することができます。
#@markdown - ３３業種コード（sector33code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toは33SectorCodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 毎営業日の17:00頃

#@markdown （その他留意点）
#@markdown - 業種コード9999は、ETFやREIT等の３３業種に含まれない銘柄のものになります。


sector33code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}
query = ""
l_query = [
    f'sector33code={sector33code}' if sector33code else "",
    f'date={date}' if date else "",
    f'from={from_}' if from_ else "",
    f'to={to}' if to else "",
]
query = '&'.join(filter(None, l_query))
query = "?"+query if query else ""
res = requests.get(f"{API_URL}/v1/markets/short_selling{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["short_selling"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

### Premiumプランで利用できるAPI
- 売買内訳データ（/markets/breakdown）
- 前場四本値（/prices/AM）
- 配当金情報（/fins/dividend）

In [30]:
#@title 売買内訳データ（/markets/breakdown）

#@markdown - 売買内訳データは、東証上場銘柄の東証市場における銘柄別の日次売買代金・売買高(立会内取引に限る)について、信用取引や空売りの利用に関して、発注時のフラグ情報を用いて細分化したデータです。
#@markdown - 銘柄コード（code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toはcodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 毎営業日の21:00頃

#@markdown （その他留意点）
#@markdown - 当日に立会内取引が成立しなかった場合（約定なし）、当該銘柄はレコードに含まれていません。

code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}
l_query = [
    f'code={code}' if code else "",
    f'date={date}' if date else "",
    f'from={from_}' if from_ else "",
    f'to={to}' if to else "",
]
query = '&'.join(filter(None, l_query))
query = "?"+query if query else ""

res = requests.get(f"{API_URL}/v1/markets/breakdown{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["breakdown"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

In [31]:
#@title 前場四本値*（/prices/AM）

#@markdown - 各銘柄の前場の四本値及び取引高・代金について、当日の前場終了後のデータを取得できます。
#@markdown - 銘柄コード（code）を指定することができます。codeパラメータがない場合は、全銘柄取得されます。

#@markdown （データ更新時刻）
#@markdown - 毎営業日の12:00頃

#@markdown （その他留意点）
#@markdown - 本APIのデータは当日12:00頃〜翌日の朝6:00頃まで取得可能です。
#@markdown - 当日以外のヒストリカルのデータは、Premiumユーザの方は株価四本値（/prices/daily_quotes）のAPIで取得可能です。
#@markdown - なお、上記以外の時間にAPIコールした場合は、StatusCode = 210が返却されます。（通常は200）

code = ""#@param {type:"string"}
l_query = [
    f'code={code}' if code else "",
]
query = '&'.join(filter(None, l_query))
query = "?"+query if query else ""

res = requests.get(f"{API_URL}/v1/prices/prices_am{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["prices_am"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}

In [32]:
#@title 配当金情報（/fins/dividend）

#@markdown - 上場会社の配当（決定・予想）に関する１株当たり配当金額、基準日、権利落日及び支払開始予定日等の情報が取得できます。
#@markdown - 銘柄コード（code）もしくは日付（date）の指定が必須です。<br>
#@markdown （From, Toはcodeを入れている場合にのみ可能）

#@markdown （データ更新時刻）
#@markdown - 毎営業日の21:00頃


code = ""#@param {type:"string"}
date = ""#@param {type:"string"}
from_ = "" #@param {type:"string"}
to = "" #@param {type:"string"}
l_query = [
    f'code={code}' if code else "",
    f'date={date}' if date else "",
    f'from={from_}' if from_ else "",
    f'to={to}' if to else "",
]
query = '&'.join(filter(None, l_query))
query = "?"+query if query else ""

res = requests.get(f"{API_URL}/v1/fins/dividend{query}", headers=headers)

if res.status_code == 200:
  data = res.json()["dividend"]
  df = pd.DataFrame(data)
  display(df)
else:
  print(res.json())

{'message': 'This API is not available on your subscription.  If you want more data, please check other plans:https://jpx-jquants.com/'}