<a href="https://colab.research.google.com/github/pea-sys/Til/blob/master/Notebook%E3%81%AE%E3%83%A1%E3%83%A2%E3%83%AA%E3%83%BC%E8%A7%A3%E6%94%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

こちらのノートブックの記載内容を試してみます

https://www.kaggle.com/code/chumajin/memory-leakage-check?scriptVersionId=185373287

In [1]:
import pandas as pd
import numpy as np
import gc
import time

In [2]:
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       587Mi       8.1Gi       1.0Mi       4.0Gi        11Gi
Swap:             0B          0B          0B

In [3]:
df = pd.DataFrame(np.arange(100000000).reshape(10000, 10000))

In [4]:
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       1.3Gi       7.3Gi       1.0Mi       4.0Gi        10Gi
Swap:             0B          0B          0B

In [5]:
print(df)

          0         1         2         3         4         5         6     \
0            0         1         2         3         4         5         6
1        10000     10001     10002     10003     10004     10005     10006
2        20000     20001     20002     20003     20004     20005     20006
3        30000     30001     30002     30003     30004     30005     30006
4        40000     40001     40002     40003     40004     40005     40006
...        ...       ...       ...       ...       ...       ...       ...
9995  99950000  99950001  99950002  99950003  99950004  99950005  99950006
9996  99960000  99960001  99960002  99960003  99960004  99960005  99960006
9997  99970000  99970001  99970002  99970003  99970004  99970005  99970006
9998  99980000  99980001  99980002  99980003  99980004  99980005  99980006
9999  99990000  99990001  99990002  99990003  99990004  99990005  99990006

          7         8         9     ...      9990      9991      9992  \
0            7         8         9  ...      9990      9991      9992
1        10007     10008     10009  ...     19990     19991     19992
2        20007     20008     20009  ...     29990     29991     29992
3        30007     30008     30009  ...     39990     39991     39992
4        40007     40008     40009  ...     49990     49991     49992
...        ...       ...       ...  ...       ...       ...       ...
9995  99950007  99950008  99950009  ...  99959990  99959991  99959992
9996  99960007  99960008  99960009  ...  99969990  99969991  99969992
9997  99970007  99970008  99970009  ...  99979990  99979991  99979992
9998  99980007  99980008  99980009  ...  99989990  99989991  99989992
9999  99990007  99990008  99990009  ...  99999990  99999991  99999992

          9993      9994      9995      9996      9997      9998      9999
0         9993      9994      9995      9996      9997      9998      9999
1        19993     19994     19995     19996     19997     19998     19999
2        29993     29994     29995     29996     29997     29998     29999
3        39993     39994     39995     39996     39997     39998     39999
4        49993     49994     49995     49996     49997     49998     49999
...        ...       ...       ...       ...       ...       ...       ...
9995  99959993  99959994  99959995  99959996  99959997  99959998  99959999
9996  99969993  99969994  99969995  99969996  99969997  99969998  99969999
9997  99979993  99979994  99979995  99979996  99979997  99979998  99979999
9998  99989993  99989994  99989995  99989996  99989997  99989998  99989999
9999  99999993  99999994  99999995  99999996  99999997  99999998  99999999

[10000 rows x 10000 columns]

In [6]:
del df
gc.collect()

0

In [7]:
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       1.3Gi       7.3Gi       1.0Mi       4.0Gi        10Gi
Swap:             0B          0B          0B

In [8]:
pd.DataFrame(np.arange(100000000).reshape(10000, 10000))

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
1,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,...,19990,19991,19992,19993,19994,19995,19996,19997,19998,19999
2,20000,20001,20002,20003,20004,20005,20006,20007,20008,20009,...,29990,29991,29992,29993,29994,29995,29996,29997,29998,29999
3,30000,30001,30002,30003,30004,30005,30006,30007,30008,30009,...,39990,39991,39992,39993,39994,39995,39996,39997,39998,39999
4,40000,40001,40002,40003,40004,40005,40006,40007,40008,40009,...,49990,49991,49992,49993,49994,49995,49996,49997,49998,49999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,99950000,99950001,99950002,99950003,99950004,99950005,99950006,99950007,99950008,99950009,...,99959990,99959991,99959992,99959993,99959994,99959995,99959996,99959997,99959998,99959999
9996,99960000,99960001,99960002,99960003,99960004,99960005,99960006,99960007,99960008,99960009,...,99969990,99969991,99969992,99969993,99969994,99969995,99969996,99969997,99969998,99969999
9997,99970000,99970001,99970002,99970003,99970004,99970005,99970006,99970007,99970008,99970009,...,99979990,99979991,99979992,99979993,99979994,99979995,99979996,99979997,99979998,99979999
9998,99980000,99980001,99980002,99980003,99980004,99980005,99980006,99980007,99980008,99980009,...,99989990,99989991,99989992,99989993,99989994,99989995,99989996,99989997,99989998,99989999
9999,99990000,99990001,99990002,99990003,99990004,99990005,99990006,99990007,99990008,99990009,...,99999990,99999991,99999992,99999993,99999994,99999995,99999996,99999997,99999998,99999999

In [9]:
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       1.4Gi       7.3Gi       1.0Mi       4.0Gi        10Gi
Swap:             0B          0B          0B

In [10]:
#NotebookはCellオブジェクトに出力が保存されている場合がある
%reset -f out
gc.collect()

Flushing output cache (2 entries)

0

In [11]:
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       1.4Gi       7.2Gi       1.0Mi       4.1Gi        10Gi
Swap:             0B          0B          0B

まだ全然解放できていないように見える  
何にせよセルにオブジェクトを渡すのは宜しくない慣習